{% extends 'base.html' %}

{% block title %}US Symbols - {{ page.title }}{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<a href="#large" class="lightbox">
  <img class="detail-thumbnail" src="./images/{{page.id}}/{{page['small-image']}}" align="right">
</a> 
{{ page.description|markdown }}
<h2>Can you answer the following questions?</h2>
<h4>(Click the question to see the answer)</h4>
<dl>
  <dt>{{ page.facts.main.question }}</dt>
  <dd>{{ page.facts.main.answer }}</dt>
  <dt>{{ page.facts.bonus.question }}</dt>
  <dd>{{ page.facts.bonus.answer }}</dt>
</dl>
<div id="light" class="white_content">
  <img src="./images/{{page.id}}/{{page['large-image']}}">
</div>
<div id="fade" class="black_overlay"></div>
{% endblock %}
