{% extends 'base.html' %}

{% block content %}
<h2>About</h2>

<p>This site contains basic information about Symbols that are
significant to our Nation's History. All information and media comes
from Wikipedia but may be edited slightly for simplicity.
</p>

<p>To help Lizzy master the site material I intend to supervise her
reading through all the site pages - pointing out that each page
contains a larger picture and review questions. A few pages have media
(audio or video) as well.</p>

<p>Any time she's interested she can play Game #2 (which just matches
pairs of images). As she reads more pages she can play matching game
#1 (which maps titles to images). She can also print off the matching
sheets and draw lines between matching images and
descriptions. Finally I'll print out some of the multiple choice
quizzes and have her take them. When she's passing the quizzes easily
I'll have her fill out the study sheet - the printable quizzes,
matching games, and study sheets all constitute course work that she
can turn in to her ES.</p>
  
{% endblock %}
